# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sfdx/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
Volunteer Tracker Objects/Volunteer Tracker Objects/objects/Volunteer_Shift__c.object
Volunteer Tracker Objects/unpackaged.zip
Volunteer Tracker Objects/Volunteer Tracker Objects/package.xml
Volunteer Tracker Objects/Volunteer Tracker Objects/layouts/Volunteer_Activity__c-Volunteer Activity Layout.layout
Volunteer Tracker Objects/Volunteer Tracker Objects/layouts/Volunteer_Job__c-Volunteer Jobs Layout.layout
Volunteer Tracker Objects/Volunteer Tracker Objects/layouts/Volunteer_Shift_Worker__c-Volunteer Shift Worker Layout.layout
Volunteer Tracker Objects/Volunteer Tracker Objects/layouts/Volunteer_Shift__c-Volunteer Shift Layout.layout
Volunteer Tracker Objects/Volunteer Tracker Objects/objects/Account.object
Volunteer Tracker Objects/Volunteer Tracker Objects/objects/Volunteer_Activity__c.object
Volunteer Tracker Objects/Volunteer Tracker Objects/objects/Volunteer_Job__c.object
Volunteer Tracker Objects/Volunteer Tracker Objects/objects/Volunteer_Shift_Worker__c.object
